.blog-item {
  border: 1px solid #ddd;
  color: #000;
  margin-bottom: 15px;
}

.blog-item-message {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
}

.clr {
  clear: both;
}

.blog-item-userinfo {
  border: 1px solid #ddd;
  float: left;
  margin: 5px;
  padding: 5px;
}

.blog-item-buttons {
  float: right;
}

.blog-items {
  width: 300px;
}

.blog-item-mark, .blog-item-answer {
  display: block;
  text-decoration: none;
  color: #000;
  border: 1px solid #ddd;
  margin: 5px;
  padding: 5px;
}

.blog-item-remove {
  margin: 10px;
  display: inline-block;
  color: #f00;
}

.blog-item-marked {
  background-color: #033;
  color: #fff;
}
.blog-item-marked a {
  color: #fff;
}

.blog-item-answers {
  margin-left: 20px;
}